.w-full
  .flex.justify-between.items-center
    %h1.text-white.text-mg.font-bold.text-2xl Listing posts

    = link_to 'New Post', new_post_path, class: 'rounded-lg px-4 py-3 bg-blue-500 text-white block font-bold font-medium'

  %table.bg-white.w-full.table-fixed.rounded-md.mt-3
    %thead
      %tr
        %th.px-4.py-2{class: "w-1/2"} Title
        %th.px-4.py-2{class: "w-1/4"} Created at
        %th.px-4.py-2{class: "w-1/4"}

    %tbody
      - @posts.each do |post|
        %tr
          %td.border.px-4.py-2= post.title
          %td.border.px-4.py-2= post.created_at.strftime('%Y/%m/%d %H:%M')
          %td.border
            = link_to 'Show', post, class: 'ml-2 rounded-md px-2 py-2 bg-gray-100 inline-block font-medium'
            = link_to 'Edit', edit_post_path(post), class: 'ml-2 rounded-md px-2 py-2 bg-gray-100 inline-block font-medium'
            = link_to 'Delete', post, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'ml-2 rounded-md px-2 py-2 bg-red-500 text-white inline-block font-medium'

